<header class="sticky top-0 bg-white border-b border-slate-200 z-30">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16 -mb-px">
      <div class="flex">
        <button class="text-slate-500 hover:text-slate-600 lg:hidden" aria-controls="sidebar" aria-expanded="false">
          <span class="sr-only">Open sidebar</span><svg class="w-6 h-6 fill-current" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="5" width="16" height="2"></rect>
            <rect x="4" y="11" width="16" height="2"></rect>
            <rect x="4" y="17" width="16" height="2"></rect>
          </svg>
        </button>
      </div>
      <div class="flex items-center">
        <button
          class="w-8 h-8 flex items-center justify-center bg-slate-100 hover:bg-slate-200 transition duration-150 rounded-full ml-3 false"
          aria-controls="search-modal">
          <span class="sr-only">Search</span><svg class="w-4 h-4" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <path class="fill-current text-slate-500"
              d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z">
            </path>
            <path class="fill-current text-slate-400"
              d="M15.707 14.293L13.314 11.9a8.019 8.019 0 01-1.414 1.414l2.393 2.393a.997.997 0 001.414 0 .999.999 0 000-1.414z">
            </path>
          </svg>
        </button>
        <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" aria-hidden="true"
          style="display: none"></div>
        <div id="search-modal"
          class="fixed inset-0 z-50 overflow-hidden flex items-start top-20 mb-4 justify-center transform px-4 sm:px-6"
          role="dialog" aria-modal="true" style="display: none">
          <div class="bg-white overflow-auto max-w-2xl w-full max-h-full rounded shadow-lg">
            <form class="border-b border-slate-200">
              <div class="relative">
                <label for="search" class="sr-only">Search</label><input id="search"
                  class="w-full border-0 focus:ring-transparent placeholder-slate-400 appearance-none py-3 pl-10 pr-4"
                  type="search" placeholder="Search Anything…" /><button class="absolute inset-0 right-auto group"
                  type="submit" aria-label="Search">
                  <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 group-hover:text-slate-500 ml-4 mr-2"
                    viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z">
                    </path>
                    <path
                      d="M15.707 14.293L13.314 11.9a8.019 8.019 0 01-1.414 1.414l2.393 2.393a.997.997 0 001.414 0 .999.999 0 000-1.414z">
                    </path>
                  </svg>
                </button>
              </div>
            </form>
            <div class="py-4 px-2">
              <div class="mb-3 last:mb-0">
                <div class="text-xs font-semibold text-slate-400 uppercase px-2 mb-2">
                  Recent searches
                </div>
                <ul class="text-sm">
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Form Builder - 23 hours on-demand video</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Access Mosaic on mobile and TV</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Product Update - Q4 2021</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Master Digital Marketing Strategy course</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Dedicated forms for products</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path
                          d="M15.707 14.293v.001a1 1 0 01-1.414 1.414L11.185 12.6A6.935 6.935 0 017 14a7.016 7.016 0 01-5.173-2.308l-1.537 1.3L0 8l4.873 1.12-1.521 1.285a4.971 4.971 0 008.59-2.835l1.979.454a6.971 6.971 0 01-1.321 3.157l3.107 3.112zM14 6L9.127 4.88l1.521-1.28a4.971 4.971 0 00-8.59 2.83L.084 5.976a6.977 6.977 0 0112.089-3.668l1.537-1.3L14 6z">
                        </path>
                      </svg><span>Product Update - Q4 2021</span></a>
                  </li>
                </ul>
              </div>
              <div class="mb-3 last:mb-0">
                <div class="text-xs font-semibold text-slate-400 uppercase px-2 mb-2">
                  Recent pages
                </div>
                <ul class="text-sm">
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path d="M14 0H2c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h8l5-5V1c0-.6-.4-1-1-1zM3 2h10v8H9v4H3V2z">
                        </path>
                      </svg><span><span class="font-medium text-slate-800 group-hover:text-white">Messages</span>
                        - Conversation / … / Mike Mills</span></a>
                  </li>
                  <li>
                    <a class="flex items-center p-2 text-slate-800 hover:text-white hover:bg-indigo-500 rounded group"
                      href="https://mosaic.cruip.com/#0"><svg
                        class="w-4 h-4 fill-current text-slate-400 group-hover:text-white group-hover:text-opacity-50 shrink-0 mr-3"
                        viewBox="0 0 16 16">
                        <path d="M14 0H2c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h8l5-5V1c0-.6-.4-1-1-1zM3 2h10v8H9v4H3V2z">
                        </path>
                      </svg><span><span class="font-medium text-slate-800 group-hover:text-white">Messages</span>
                        - Conversation / … / Eva Patrick</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="relative inline-flex ml-3">
          <button
            class="w-8 h-8 flex items-center justify-center bg-slate-100 hover:bg-slate-200 transition duration-150 rounded-full false"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Notifications</span><svg class="w-4 h-4" viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg">
              <path class="fill-current text-slate-500"
                d="M6.5 0C2.91 0 0 2.462 0 5.5c0 1.075.37 2.074 1 2.922V12l2.699-1.542A7.454 7.454 0 006.5 11c3.59 0 6.5-2.462 6.5-5.5S10.09 0 6.5 0z">
              </path>
              <path class="fill-current text-slate-400"
                d="M16 9.5c0-.987-.429-1.897-1.147-2.639C14.124 10.348 10.66 13 6.5 13c-.103 0-.202-.018-.305-.021C7.231 13.617 8.556 14 10 14c.449 0 .886-.04 1.307-.11L15 16v-4h-.012C15.627 11.285 16 10.425 16 9.5z">
              </path>
            </svg>
            <div class="absolute top-0 right-0 w-2.5 h-2.5 bg-rose-500 border-2 border-white rounded-full"></div>
          </button>
          <div
            class="origin-top-right z-10 absolute top-full right-0 -mr-48 sm:mr-0 min-w-80 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1"
            style="display: none">
            <div>
              <div class="text-xs font-semibold text-slate-400 uppercase pt-1.5 pb-2 px-4">
                Notifications
              </div>
              <ul>
                <li class="border-b border-slate-200 last:border-0">
                  <a class="block py-2 px-4 hover:bg-slate-50" href="https://mosaic.cruip.com/#0"><span
                      class="block text-sm mb-2">📣
                      <span class="font-medium text-slate-800">Edit your information in a swipe</span>
                      Sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim.</span><span class="block text-xs font-medium text-slate-400">Feb 12,
                      2021</span></a>
                </li>
                <li class="border-b border-slate-200 last:border-0">
                  <a class="block py-2 px-4 hover:bg-slate-50" href="https://mosaic.cruip.com/#0"><span
                      class="block text-sm mb-2">📣
                      <span class="font-medium text-slate-800">Edit your information in a swipe</span>
                      Sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim.</span><span class="block text-xs font-medium text-slate-400">Feb 9,
                      2021</span></a>
                </li>
                <li class="border-b border-slate-200 last:border-0">
                  <a class="block py-2 px-4 hover:bg-slate-50" href="https://mosaic.cruip.com/#0"><span
                      class="block text-sm mb-2">🚀<span class="font-medium text-slate-800">Say goodbye to paper
                        receipts!</span>
                      Sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim.</span><span class="block text-xs font-medium text-slate-400">Jan 24,
                      2020</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="relative inline-flex ml-3">
          <button
            class="w-8 h-8 flex items-center justify-center bg-slate-100 hover:bg-slate-200 transition duration-150 rounded-full false"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Need help?</span><svg class="w-4 h-4" viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg">
              <path class="fill-current text-slate-500"
                d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z">
              </path>
            </svg>
          </button>
          <div
            class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1"
            style="display: none">
            <div>
              <div class="text-xs font-semibold text-slate-400 uppercase pt-1.5 pb-2 px-4">
                Need help?
              </div>
              <ul>
                <li>
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3"
                    href="https://mosaic.cruip.com/#0"><svg class="w-3 h-3 fill-current text-indigo-300 shrink-0 mr-2"
                      viewBox="0 0 12 12">
                      <rect y="3" width="12" height="9" rx="1"></rect>
                      <path d="M2 0h8v2H2z"></path>
                    </svg><span>Documentation</span></a>
                </li>
                <li>
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3"
                    href="https://mosaic.cruip.com/#0"><svg class="w-3 h-3 fill-current text-indigo-300 shrink-0 mr-2"
                      viewBox="0 0 12 12">
                      <path
                        d="M10.5 0h-9A1.5 1.5 0 000 1.5v9A1.5 1.5 0 001.5 12h9a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0010.5 0zM10 7L8.207 5.207l-3 3-1.414-1.414 3-3L5 2h5v5z">
                      </path>
                    </svg><span>Support Site</span></a>
                </li>
                <li>
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3"
                    href="https://mosaic.cruip.com/#0"><svg class="w-3 h-3 fill-current text-indigo-300 shrink-0 mr-2"
                      viewBox="0 0 12 12">
                      <path
                        d="M11.854.146a.5.5 0 00-.525-.116l-11 4a.5.5 0 00-.015.934l4.8 1.921 1.921 4.8A.5.5 0 007.5 12h.008a.5.5 0 00.462-.329l4-11a.5.5 0 00-.116-.525z">
                      </path>
                    </svg><span>Contact us</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="w-px h-6 bg-slate-200 mx-3" />
        <div class="relative inline-flex">
          <button class="inline-flex justify-center items-center group" aria-haspopup="true" aria-expanded="false">
            <img class="w-8 h-8 rounded-full" src="../../assets/prof.gif" width="32" height="32" alt="User" />
            <div class="flex items-center truncate">
              <span class="truncate ml-2 text-sm font-medium group-hover:text-slate-800">Ashan Lodhi</span><svg
                class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" viewBox="0 0 12 12">
                <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z"></path>
              </svg>
            </div>
          </button>
          <div
            class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1"
            style="display: none">
            <div>
              <div class="pt-0.5 pb-2 px-3 mb-1 border-b border-slate-200">
                <div class="font-medium text-slate-800">Acme Inc.</div>
                <div class="text-xs text-slate-500 italic">Administrator</div>
              </div>
              <ul>
                <li>
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3"
                    href="https://mosaic.cruip.com/">Settings</a>
                </li>
                <li>
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3"
                    href="https://mosaic.cruip.com/">Sign Out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="font-inter antialiased bg-slate-100 text-slate-600">
  <div class="flex h-screen overflow-hidden">
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
      <div class="px-4 py-8 w-full mx-auto">
        <div class="relative bg-indigo-200 pxx-6 rounded-sm overflow-hidden mb-8">
          <div class="absolute right-0 top-0 -mt-4 mr-16 pointer-events-none xl:block" aria-hidden="true">
            <svg width="319" height="198" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path id="welcome-a" d="M64 0l64 128-64-20-64 20z"></path>
                <path id="welcome-e" d="M40 0l40 80-40-12.5L0 80z"></path>
                <path id="welcome-g" d="M40 0l40 80-40-12.5L0 80z"></path>
                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="welcome-b">
                  <stop stop-color="#A5B4FC" offset="0%"></stop>
                  <stop stop-color="#818CF8" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="50%" y1="24.537%" x2="50%" y2="100%" id="welcome-c">
                  <stop stop-color="#4338CA" offset="0%"></stop>
                  <stop stop-color="#6366F1" stop-opacity="0" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g transform="rotate(64 36.592 105.604)">
                  <mask id="welcome-d" fill="#fff">
                    <use xlink:href="#welcome-a"></use>
                  </mask>
                  <use fill="url(#welcome-b)" xlink:href="#welcome-a"></use>
                  <path fill="url(#welcome-c)" mask="url(#welcome-d)" d="M64-24h80v152H64z"></path>
                </g>
                <g transform="rotate(-51 91.324 -105.372)">
                  <mask id="welcome-f" fill="#fff">
                    <use xlink:href="#welcome-e"></use>
                  </mask>
                  <use fill="url(#welcome-b)" xlink:href="#welcome-e"></use>
                  <path fill="url(#welcome-c)" mask="url(#welcome-f)" d="M40.333-15.147h50v95h-50z"></path>
                </g>
                <g transform="rotate(44 61.546 392.623)">
                  <mask id="welcome-h" fill="#fff">
                    <use xlink:href="#welcome-g"></use>
                  </mask>
                  <use fill="url(#welcome-b)" xlink:href="#welcome-g"></use>
                  <path fill="url(#welcome-c)" mask="url(#welcome-h)" d="M40.333-15.147h50v95h-50z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="relative">
            <h1 class="text-2xl md:text-3xl text-slate-800 font-bold mb-1">
              Good Afternoon, Ashan Lodhi 👋
            </h1>
            <p>Here is what’s happening with your projects today:</p>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-6" style="zoom: 150%;">
          <div
            class="flex flex-col col-span-full sm:col-span-6 xl:col-span-4 bg-white shadow-lg rounded-sm border border-slate-200"
            *ngFor="let sheet of sheets;let i">
            <div class="px-5 pt-5">
              <header class="flex justify-between items-start mb-2">
                <img *ngIf="i/2==0" (click)="viewsheet(sheet)" src="../../assets/icon-01.e89d7385.svg" width="32"
                  height="32" alt="Icon 01" />
                <img *ngIf="i/2!=0" (click)="viewsheet(sheet)" src="../../assets/icon-02.d3838050.svg" width="32"
                  height="32" alt="Icon 01" />
                <div class="relative inline-flex">
                  <button class="text-slate-400 hover:text-slate-500 rounded-full false" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="sr-only">Menu</span><svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                      <circle cx="16" cy="16" r="2"></circle>
                      <circle cx="10" cy="16" r="2"></circle>
                      <circle cx="22" cy="16" r="2"></circle>
                    </svg>
                  </button>
                </div>
              </header>
              <h2 class="text-lg font-semibold text-slate-800 mb-2">
                {{ sheet.name }}
              </h2>
              <div class="text-xs font-semibold text-slate-400 uppercase mb-1">
                Business Type
              </div>
              <div class="flex items-start">
                <div class="text-r font-bold text-slate-800 mr-2">
                  New Business
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">
                  {{sheet['New Business']}}
                </div>

                <div class="text-r font-bold text-slate-800 px-1.5 mr-2">
                  Renewal
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">
                  {{sheet['Renewal']}}
                </div>

                <div class="text-r font-bold text-slate-800 px-1.5 mr-2">
                  Expanded
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">
                  {{sheet['Expanded']}}
                </div>
              </div>
            </div>
            <div class="grow">
              <canvas width="370" height="120" id="{{ sheet.name }}" style="
              position: relative;
                  display: block;
                  box-sizing: border-box;
                  height: 128px;
                  width: 383px;
                "></canvas>
            </div>
          </div>
          <div
            class="flex flex-col col-span-full sm:col-span-6 xl:col-span-4 bg-white shadow-lg rounded-sm border border-slate-200">
            <div class="px-5 pt-5">
              <header class="flex justify-between items-start mb-2">
                <img (click)="viewconsolidatedreport()" src="../../assets/icon-01.e89d7385.svg" width="32" height="32" alt="Icon 01" />

                <div class="relative inline-flex">
                  <button class="text-slate-400 hover:text-slate-500 rounded-full false" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="sr-only">Menu</span><svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                      <circle cx="16" cy="16" r="2"></circle>
                      <circle cx="10" cy="16" r="2"></circle>
                      <circle cx="22" cy="16" r="2"></circle>
                    </svg>
                  </button>
                </div>
              </header>
              <h2 class="text-lg font-semibold text-slate-800 mb-2">
                Consolidated Report
              </h2>
              <div class="text-xs font-semibold text-slate-400 uppercase mb-1">
                Business Type
              </div>
              <div class="flex items-start">
                <div class="text-r font-bold text-slate-800 mr-2">
                  New Business
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">

                </div>

                <div class="text-r font-bold text-slate-800 px-1.5 mr-2">
                  Renewal
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">

                </div>

                <div class="text-r font-bold text-slate-800 px-1.5 mr-2">
                  Expanded
                </div>
                <div class="text-sm font-semibold text-white px-1 bg-green-500 rounded-full">
                </div>
              </div>
            </div>
            <div class="grow">

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
