.mat-table {
    width: 100%;
    overflow: auto;
  }
  
  mat-cell{
    width: 200px;
    flex: none;
    justify-content: center;
  }
  mat-footer-cell{
    width: 200px;
    flex: none;
    justify-content: center;
  }
  mat-header-cell {
    width: 200px;
    flex: none;
    justify-content: center;
    background-color: #43A6C6;
    font-weight: bold;
  }
  
  .mat-table mat-cell:first-child {
    padding-left: 0px;
    /* border-left: 1px solid; */
  }
  
  .mat-table mat-cell:last-child {
    padding-right: 0px;
  }
  
  .mat-table mat-header-cell:first-child {
    padding-left: 0px;
    /* border-left: 1px solid; */
  }

  .mat-row:nth-child(even){
    background-color:#ADD8E6
}
        
.mat-row:nth-child(odd){
    background-color: #8AC7DB;
}

  
  .mat-table mat-header-cell:last-child {
    padding-right: 0px;
  }
  
  .mat-table mat-header-cell {
    /* border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid; */
    cursor: col-resize;
  }
  
  .mat-table mat-cell {
    /* border-right: 1px solid; */
    /* border-bottom: 1px solid; */
  }
  