<div style="background-color: rgb(239, 239, 239);">
    <mat-toolbar style="color: white;background-color: black;">

        <mat-toolbar-row>
            <a style="margin-left: 42%;color:#e1e6ea">Consolidated Report</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="row col-md-12" style="margin-top: 3%;">
        <div class="col-md-10">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
        </div>
        <div class="col-md-2">
            <button (click)="exportAsXLSX()" mat-raised-button style="margin-left: 60%;"
            color="primary">Download</button>

        </div>
    </div>
    <div>
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">

            <ng-container [matColumnDef]="col" *ngFor="let col of  displayedColumns;let i= index">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{col | uppercase}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element[col]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div>
        <mat-paginator #paginator [pageSizeOptions]="[8, 15, 25]" showFirstLastButtons></mat-paginator>
    </div>
</div>