<mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <div style="display: block">
            <canvas
baseChart
[datasets]="barchartData"
[labels]="barchartlables"
[chartType]="barchartType"
[options]="chartOptions"
></canvas>
 
    </div>
    </mat-card-content>

</mat-card>

