<mat-card>
    <mat-card-header>
        
    </mat-card-header>
    <mat-card-content>
        <div style="display: block">
            <canvas baseChart
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [chartType]="radarChartType"
              [labels]="radarChartlabels">
            </canvas>
          </div>
    </mat-card-content>

</mat-card>
