<mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <div style="display: block">
            <canvas
            baseChart
            [datasets]="piechartData"
            [labels]="piechartlables"
            [chartType]="piechartType"
            [options]="chartOptions"
            ></canvas>
          </div>
    </mat-card-content>

</mat-card>
