<div style="background-color: rgb(239, 239, 239);">
    <mat-toolbar style="color: white;background-color: black;">

        <mat-toolbar-row>
            <a style="margin-left: 40%;color:#e1e6ea">{{sheet}}</a>       
        </mat-toolbar-row>
    </mat-toolbar>

    <div style="margin-left: 13%;margin-top: 1%;">

        <div style="margin-top: 2%;">
            <button (click)="exportAsXLSX()" mat-raised-button style="margin-left: 76%;"
                color="primary">Download</button>
        </div>
        <div>
            <div style="margin-top: 2%;" id="datacontainer">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="mat-elevation-z8">

                    <ng-container [matColumnDef]="col" *ngFor="let col of  displayedColumns;let i= index">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > {{col | uppercase}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


            </div>
            <div style="margin-right: 17%;">
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="row col-md-16" *ngIf="showlineChart" style="margin-top: 3%;">
                <div class="col-md-10">
                    <app-line [lineChartLabels]="lineChartOverAllLabels" [lineChartData]="lineChartOverAllLData">
                    </app-line>
                </div>

            </div>
            <div class="row col-md-16" style="margin-top: 3%;">
                <div class="col-md-5">
                    <app-pie-chart [piechartlables]="piechartlables" [piechartData]="piechartData"></app-pie-chart>
                </div>
                <div class="col-md-5">
                  <app-bar [barchartlables]="barchartlables" [barchartData]="barchartData"></app-bar>
                </div>
            </div>
            <div class="row col-md-16" style="margin-top: 3%;">
                <div class="col-md-5">
                    <app-polarchart [polarAreaChartData]="polarAreaChartData"
                    [polarchartlabels]="polarchartlabels"></app-polarchart>
                </div>
                <div class="col-md-5">
                    <app-radar [radarChartlabels]="radarChartlabels" [radarChartData]="radarChartData"></app-radar>
                </div>

            </div>
            
        </div>
    </div>
</div>