.center {
    text-align: center;
}

.mat-card {
    max-width: 100%;
}

table {
    width: 83%;
  }

.mat-row:nth-child(even){
    background-color:#ADD8E6
}
        
.mat-row:nth-child(odd){
    background-color: #8AC7DB;
}

.mat-header-row::ng-deep {
    background-color: #43A6C6;
    
  }

  .mat-header-cell {
    min-height: 12px;
    font-size: smaller;
    font-weight: bold;
}