<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <canvas baseChart [labels]="lineChartLabels" [datasets]="lineChartData" [options]="lineChartOptions" [chartType]="lineChartType"></canvas>
    </mat-card-content>

</mat-card>