<div style="margin-left: 18%;margin-top: 6%;margin-right:26%;border: dotted 1px black;height: 40%;">
<div style="margin-left: 25%;margin-top: 4%">
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

        {{fileName || "No file uploaded yet."}}

        <button mat-raised-button color="primary"  (click)="fileUpload.click()">
            Upload
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUploadconfig>
    <div class="file-upload" style="margin-top: 2%;">

        {{fileName || "No file uploaded yet."}}

        <button mat-raised-button color="primary"  (click)="fileUploadconfig.click()">
            Config File
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
    <div style="margin-top: 5%;margin-left:17%">
        <button mat-raised-button color="primary"  (click)="generate()">
            Generate
        </button>
    </div>
</div>
</div>