
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>    
    <script>
        
        var originalLineDraw = Chart.controllers.line.prototype.draw;
    </script>
    <style>
    body {
        font-family: serif;
    }
    hr {
        border-color:#e36c08
    }
        .boxed1 {
        border: 1px solid beige;
        padding-top: 12px;
        padding-bottom:12px;
        padding-left:0.5em;
        background-color: #e36c08;
        border-radius: 15px;
    }
    .boxed {
        border: 1px solid black;
        padding-top: 1%;
        padding-bottom:1%;
        background-color: black;
        padding-top: 1%;
        padding-bottom:1%;      
        padding-left: 3%;
        padding-right: 3%;
    }
    .boxed2 {
        border: 5px solid #e36c08;
        
        /* padding-top: 1%; */
        /* padding-bottom:1%;       */
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 20px;
        
        padding-right: 25px;
        background-color: white;
        border-radius: 25px;
        
    }

    .container1 {
      /* border: 2px solid skyblue ; */
      font-family: serif;
      
      
      
      padding-top: 1%;
      padding-left:6%;
      padding-bottom: 2%;
      padding-right: 6%;
      /* background-color: #f0f1f1; */
      margin-top: 100px;
      

    
    }
  
    .vertical {
        border-left: 1px solid beige;
    }
    .container_logo {
    
    /* border: 5px solid white;
    padding-top: 1%;
     padding-left: 5%; */
    background-color:white;
    position:fixed;
    top:0;
    width:100%;
    z-index:10  
    
    
  }
  .table_data {
      display:inline-table;
  width:100%;
  font-family: serif;
    font-size: 12px;

  overflow: scroll; border-style: Solid;border-color:white;text-align: center;
}

.table_data tr {
  border-style: none;text-align: center;
}
.table_data th {
  border-style:none;text-align: left;background-color:#e36c08;color:#fff;padding:5px;
}
.table_data td {
  border-style: none;border-right: solid;font-family: serif;border-color:white;text-align:right;padding-right:4px;padding-left:2px;padding-top:4px;padding-bottom:4px;
}
.table_data td:nth-child(even) {
    background: #f8f8f8;
}
.table_data td:first-child { text-align: left; }
.table_data th:first-child { text-align: left; }
/* @media screen and (max-width: 1000px) {
  .table_data {
    font-size: 10px;
  }
  .container1 {
    padding-top: 1%;
      padding-left:2%;
      padding-bottom: 2%;
      padding-right: 2%;
  }
  .container_logo {
      padding-right: 12px;
      padding-left: 4px;
  }
} */
.title_class {
    display: block;
  }
  .title_class1 {
    display: none;
  }
  .logo_hide_class {
    display: block;
  }
  .logo_hide_class1 {
    display: none;
  }
  .div_column {
 margin-top: 5px;
  }

@media screen and (max-width: 373px) {
    .table_data {
        display:block
    }
      .logo_hide_class {
        display: none;
      }
      .logo_hide_class1 {
          display: block;
      }
      .fullscreen_logo {
          display: none;
      }
      .container1 {
        margin-top: 190px;
      }
      .col-8 {
      width: 66.66%
  }
  .col-10 {
      width: 75.33%
  }
  .col-1 {
      width: 10.33%
  }
  }
  @media screen and (max-width: 560px)  {
    
 .col-8 {
      width: 66.66%
  }
  .col-10 {
      width: 75.33%
  }
  .col-1 {
      width: 10.33%
  }
  }
      
  @media screen and (max-width: 767px) and (min-width: 374px) {
    .container1 {
        margin-top: 150px;
      }
  }
  @media screen and (max-width: 767px) {
    
      .title_class1{
          display: block;
      }
      .title_class{
          display: none;
      }
   
  }

  @media screen and (max-width: 992px) {
    /* .header_class {
        font-size: 12px;
        
   } */
   
  .table_data {
    font-size: 12px;
    width:100%
  }
  .table_data th {
      text-align: right;
  }

  
  .container_logo {
      padding-right: 4px;
      padding-left: 4px;
  }
  .div_column {
 margin-top: 20px;
  }
  /* .container1 {
   padding-right:2.8%;
  }
  .boxed2 {
        padding-right: 2%;
        
        
    } */
  
}
   
    </style>
</head>
<div>
    <div class="container_logo">
        
        <div class='row'>
            <div class='col-xs-12  logo_hide_class1 ' style="text-align: center;margin-top: 10px;margin-bottom: 4px;">
                <a  href="../">
                    <img class="logo-dark" src="../../../assets/img/logo-dark.png" alt="logo" style="height: 30px !important">
                    
                </a>
            </div>
            <div class='col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 logo_hide_class' style="float:left;margin-top: 20px;margin-bottom: 4px;">
                <a  href="../">
                    <img class="logo-dark" src="../../../assets/img/logo-dark.png" alt="logo" style="height: 30px !important">
                    
                </a>
            </div>
            
                
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title_class'>
                <h3 style='text-align: center;margin-top: 20px;margin-bottom: 4px;color: #e36c08;' >Department Store Staff & Income Report</h3>
                
            </div>
            <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 logo_hide_class1' style="text-align: center;margin-top: 10px;margin-bottom: 4px;">
   
                <a class="btn btn-xs btn-round btn-success" href="https://www.codeboardtech.com/" target="_blank" style="background-color: #131313;border-color: #2abd4500;text-align: center;"> <img src="../../../assets/img/logo/cbt.png" alt="..." style="height: 26px"> initiative</a>
            </div>
            <div class='col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 logo_hide_class' style="float:right;margin-top: 20px;margin-bottom: 4px;">
   
                <a class="btn btn-xs btn-round btn-success" href="https://www.codeboardtech.com/" target="_blank" style="background-color: #131313;border-color: #2abd4500;float:right"> <img src="../../../assets/img/logo/cbt.png" alt="..." style="height: 26px"> initiative</a>
            </div>
            <div class='col-xs-12 col-sm-12 title_class1'>
                <h3 style='text-align: center;margin-top: 10px;margin-bottom: 4px;color: #e36c08;' >Department Store Staff & Income Report</h3>
                
            </div>
            
        </div>
        
        <div class="boxed1" style="margin-top: 5px;" >

        </div>
    </div>
    
    
    <div class='container1'>
        <div class="boxed2">
            <div class='row'> 
            
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 div_column"  id="chart1_div">
                <div id="chart1"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 div_column"  id="chart2_div">
                    <canvas id="chart2"></canvas>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div_column" id="chart3_div">
                    <canvas id="chart3"></canvas>
                </div>
                <!-- <div class="col-xs-3 col-sm-3 col-md-3">
                    <canvas id="chart4" style="margin-left: 50px;"></canvas>
                </div> -->
            </div>
            <hr>
            <div class='row'> 
            
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 div_column" id="chart5_div">
                <div id="chart5" ></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5  col-lg-5 col-xl-5 div_column" id="chart6_div">
                    <canvas id="chart6"></canvas>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4  col-lg-4 col-xl-4 div_column" id="chart7_div">
                    <canvas id="chart7"></canvas>
                </div>
                <!-- <div class="col-xs-2 col-sm-2 col-md-2">
                    <canvas id="chart8" ></canvas>
                </div> -->
            </div>
    
            <hr>
            <div class='row'> 
            
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 div_column" id="chart9_div">
                <div id="chart9" ></div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 div_column" id="chart10_div">
                    <canvas id="chart10" style="margin-left:-20px"></canvas>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 div_column" id="chart11_div">
                    <canvas id="chart11"  style="padding-right:20px"></canvas>
                </div>
                <!-- <div class="col-xs-2 col-sm-2 col-md-2">
                    <canvas id="chart8" ></canvas>
                </div> -->
            </div>
        </div>
        </div>

<script>
function sorttable(n,table,cellNum) {
  
  var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
//   table = document.getElementById(table_id);
  text=document.getElementById("th"+n);
  dir =text.getAttribute('dir')
  text1=text.innerText;
  
  if (dir==null || dir=='desc' )
  {
  text1 = text1.substring(0, text1.length - 1)
  text1= text1+'&#9650'
  dir='asc'
  text.setAttribute('dir',dir);
  }
  else{
    text1 = text1.substring(0, text1.length - 1)
  text1= text1+'&#9660'
  dir='desc';
  text.setAttribute('dir',dir);
  }
  document.getElementById("th"+n).innerHTML = text1;
  
  rows=table.rows;
  if (!isNaN(Number(rows[1].getElementsByTagName('td')[cellNum].innerText)))    {
     type_of_col= "number";
    }
    else{
    type_of_col="string";
    }
  
  
    
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    if (dir=='asc')
    {
    for (i = 1; i < (rows.length ); i++) {
      for (var j=i+1;j<(rows.length);j++)
      {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[cellNum];
      y = rows[j].getElementsByTagName("TD")[cellNum];
      if (type_of_col=="string"){
      x=x.innerHTML.toLowerCase();
      y=y.innerHTML.toLowerCase();
      }
    else{
    x=parseFloat(x.innerText)
    y=parseFloat(y.innerText)
    }

      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
     
        if (x > y) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          rows[i].parentNode.insertBefore(rows[j], rows[i]);
          /* text=document.getElementById("th"+n).innerHTML
          text = text.substring(0, text.length - 1)
          text= text+'&#9650'
          document.getElementById("th"+n).innerHTML = text; */
          rows = table.rows;
          
        }
       
    }
    }
    }
    else if (dir=='desc'){
      for (i = 1; i < (rows.length ); i++) {
      for (var j=i+1;j<(rows.length);j++)
      {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[cellNum];
      y = rows[j].getElementsByTagName("TD")[cellNum];
      if (type_of_col=="string"){
      x=x.innerHTML.toLowerCase();
      y=y.innerHTML.toLowerCase();
      }
      else{
      x=parseFloat(x.innerText)
      y=parseFloat(y.innerText)
      }

        if (x < y) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          rows[i].parentNode.insertBefore(rows[j], rows[i]);
          rows = table.rows;

        
        }
      }
    }
    }
}    
function destroy_chart(chart_id,fullscreen){
    console.log(chart_id);
    canvas= document.getElementById(chart_id);
    ctx = canvas.getContext("2d");
    if (window["myMixedChart"+chart_id]){
        window["myMixedChart"+chart_id].destroy();               
        if (fullscreen){
            
            //  $(window).height()

                ctx.canvas.width=$(window).width();
                ctx.canvas.height=$(window).height()/4;

        }
        else{
        
            ctx.canvas.width = window["myMixedChart"+chart_id+"width"];
        ctx.canvas.height = window["myMixedChart"+chart_id+"height"];
        
        
        }
        
        
    }
}    
function create_table(data,table_id){
    
    let label= data["categories"]
    
    var option1='<table id="data_table_'+table_id+'"  class = "table_data"><tr >';
    for (var j=n,k=0;j<label.length+n;j++,k++)
    {
        
     option1 += '<th id="th'+j+'" onclick="sorttable('+j+',data_table_'+table_id+','+k+')" >'+label[k]+' &#9650</th>'
    
    }
    n=n+label.length;
    option1 +='</tr>';
   // var option1='<table id="data-table" style="  margin-left: auto;margin-right: auto;overflow: scroll; border-style: double;text-align: center;"><caption style="text-align:center;">Data Table</caption><tr style="border-style: double;text-align: center;"><th style="border-style: double;text-align: center;padding:5px;">sport</th><th style="border-style: double;text-align: center;padding:5px;">weight</th></tr>'
    for(var i=0;i< data['data'].length;i=i+1)
    {
      option1 += '<tr >';
      for(var j=0;j<label.length;j++)
      {
      option1 +='<td >'+ data['data'][i][label[j]]+'</td>';
      }
    option1 += '</tr>';
    }
    option1 += '</table>'
    
    $("#"+table_id).append(option1);
    
}    
function createBarLineChart(series,profit,sales,labels,bar,line) {
            // Chart.defaults.global.defaultFontFamily = 'Serif';
            // Chart.defaults.global.defaultFontColor = "#8cc4f3";
           
            myColors = []
            var chartData = {
                labels: labels,
                datasets: [ 
                {
                    type: 'line',
                    label: series[1],
                    yAxisID: 'Price',
                    // borderColor: window.chartColors.blue,
                    backgroundColor:"#363636",
                    pointBackgroundColor:line,
                    
                    borderColor: "white",
                    borderWidth: 0.2,
                    fill: false,
                    data: sales,
                    options:{legend:{display:false}}
,                   
                    
                },
                {
                    type: 'bar',
                    label: series[0],
                    yAxisID: 'position',
                    backgroundColor:bar,
                    data: profit,
                    borderColor: "#cea375",
                    borderWidth: 1.5,
                    hoverBackgroundColor:bar,
                    hoverBorderColor:"#cea375",
                    options:{legend:{display:true},
                }
,                   
                }],
                
                options: {
                    legend:{
                        display:false
                    },
    scales: {
            yAxes: [{
                ticks: {
                beginAtZero: true,          
                // stepSize: 2500 // this worked as expected          
                }
            }],
        
            xAxes: [{
                ticks: {
                // maxTicksLimit: 30
                
                }
            }]
            }
        }  
    };
            
            $.each(profit, function (index, value) {
                if (value > 0) {
                    myColors[index] = "#8cc4f3"
                } else {
                    myColors[index] = "#8cc4f3";
                }
            });
            return chartData;
}
function LineBarChartInit(series,profit,sales,chart_id,min,max,step,labels,bar,line,box_id,fullscreen) {
            // canvas =document.getElementById(chart_id)
            // var ctx = document.getElementById(chart_id).getContext('2d');
            

            var config={
                type: 'bar',
                data: createBarLineChart(series,profit,sales,labels,bar,line),
                
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                    legend:{display:false,position:'bottom',align:'end'},
                    elements: {
                    point:{
                        radius: 5
                    }},

                    title: {
                        display: true,
                        text: 'FTE & Income by Country',
                        align:'center',
                            
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true,
                        callbacks: {
                            label: function (t, d) {
                                
                                    
                                    return  d["datasets"][t.datasetIndex]["label"]+" : "+t.yLabel+"M";
                               
                            }
                        }
                    },
                    scales: {
                        xAxes: [{ display: true,stacked: true,
                            gridLines: {
                                display:false
                            },barPercentage:0.5, scaleLabel: { display: false, labelString: 'actual' } }],
                        yAxes: [{
                            type: 'linear',
                            id: 'position',
                            display: true,
                            position: 'left',
                            gridLines: {
                                drawOnChartArea: false
                            },
                            scaleLabel: { display: false, labelString: 'Actual' },
                            ticks: {
                                // suggestedMin:min,
                                // suggestedMax:max,
                                min: 30,
                                beginAtZero: false,          
        //   stepSize: step // this worked as expected      
                                // min: parseInt(Math.min.apply(null, ticker.change) - (Math.max.apply(null, ticker.change) - Math.min.apply(null, ticker.change)) / 6),
                                
                            }
                        }, {
                            type: 'linear',
                            id: 'Price',
                            display: true,
                            position: 'right',
                            stacked: false,
                            scaleLabel: { display: false, labelString: 'Target' },
                            gridLines: { drawOnChartArea: false },
                            ticks: {
                                // suggestedMin:min,
                                // suggestedMax:max,
                                beginAtZero: false,          
                                
        //   stepSize: step // this worked as expected      
                                // min: parseInt(Math.min.apply(null, ticker.change) - (Math.max.apply(null, ticker.change) - Math.min.apply(null, ticker.change)) / 6),
                                
                            }
                        }]
                    },
                }
            }
            destroy_chart(chart_id,fullscreen);
            
            canvas =document.getElementById(chart_id)
            var ctx = document.getElementById(chart_id).getContext('2d');
            window["myMixedChart"+chart_id] = new Chart(ctx,config );
            if (window["myMixedChart"+chart_id+"width"]=="") {
                    
                // window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth);;
                window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth)-50;
                window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight); 
                destroy_chart(chart_id,fullscreen);
                window["myMixedChart"+chart_id] = new Chart(ctx,config );
                }
            
}
function createMultibarchart(data,chart_id,box_id,fullscreen){
           var config= {
                type: 'bar',
                data: {
                labels: data['labels'],
                datasets: [
                  
                    {
                    
                
                        label: data["categories"][0],
                        backgroundColor: "#eccfb7",
                        hoverBackgroundColor:"#eccfb7",
                        borderColor:"#ca9d7a",
                        borderWidth:1.5,                        
                        data: data[data["categories"][0]]
                    },
                    {
                    
                
                    label: data["categories"][1],
                    backgroundColor: "#865858",
                    hoverBackgroundColor:"#865858",
                    borderColor:"#724c4d",
                    borderWidth:1.5,
                    data: data[data["categories"][1]]
                }
                    
                ]
                },
            
                options: {
                responsive:false,
                maintainAspectRatio:false,
                
                title: {
                            display: false,
                            text: 'BAR PLOT',
                            },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display:false
                        }   
                    }]
                },
                legend: { display: true ,
                fontFamily: "Serif"
                },
                tooltips: {
                    mode:"index",
                    intersect:true
                // callbacks: {
                // title:function(tooltipItem, data){
                  
                
              
                // return tooltipItem[0].yLabel
                // },
                // label: function(tooltipItem, data) {
                  
                // return "Sales: "+tooltipItem.xLabel+"M"
                
                               


                // }
                // }
                }

                
                }
            }
            destroy_chart(chart_id,fullscreen);

            var canvas=document.getElementById(chart_id);
            var ctx = canvas.getContext('2d');    

            window["myMixedChart"+chart_id]  = new Chart(ctx, config);
            if (window["myMixedChart"+chart_id+"width"]=="") {

                window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth)-50;
                window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight);
                // window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(chart_id+"_div").offsetHeight);
                
                destroy_chart(chart_id,fullscreen);
                window["myMixedChart"+chart_id] =new Chart(ctx, config);
            }
}

function createBarchart(data,chart_id,box_id,bar_color,fullscreen){
           var config= {
                type: 'bar',
                data: {
                labels: data['labels'],
                datasets: [
                  
                    {
                    
                
                        label: data["categories"][0],
                        backgroundColor: bar_color,
                        pointColor:"green",
                        pointStyle:"line",
                        pointRadius:50,
                        data: data['values']
                    }
                    
                    
                ]
                },
            
                options: {
                responsive:false,
                maintainAspectRatio:false,
                "animation": {
                        "duration": 1,
                        "onComplete": function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle="black";
                            this.data.datasets.forEach(function(dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function(bar, index) {
                                var data = dataset.data[index];
                      
                  
                            
                                    ctx.fillText(data, bar._model.x, bar._model.y -5);
                
                            });
                            });
                        }
                },
                title: {
                            display: true,
                            text: data["title_text"],
                            },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:false
                        },
                        
                    }],
                    yAxes: [{
                        gridLines: {
                            display:false
                        }   ,
                        ticks:{
                            //  min: parseInt(Math.min.apply(null, data['CY']) - (Math.max.apply(null, data['CY']) - Math.min.apply(null, data["CY"])) / 6),
                            beginAtZero:true
                        }
                    }]
                },
                legend: { display: false ,
                fontFamily: "Serif"
                },
                tooltips: {
                    enabled: true,
                    mode:'x',
                // callbacks: {
                // title:function(tooltipItem, data){
                  
                
              
                // return tooltipItem[0].yLabel
                // },
                // label: function(tooltipItem, data) {
                  
                // return "Sales: "+tooltipItem.xLabel+"M"
                
                               


                // }
                // }
                }

                
                }
            }
            destroy_chart(chart_id,fullscreen);

            var canvas=document.getElementById(chart_id);
            var ctx = canvas.getContext('2d');    

            window["myMixedChart"+chart_id]  = new Chart(ctx, config);
            if (window["myMixedChart"+chart_id+"width"]=="") {

                window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth)-50;
                window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight);
                destroy_chart(chart_id,fullscreen);
                window["myMixedChart"+chart_id] =new Chart(ctx, config);
            }
}
function createMirrorBarChart(data,chart_id,box_id,fullscreen){
        var barChartData= Chart.ChartData = {
        labels: data["labels"],
        datasets: [
            {
            label: data["categories"][0],
            stack: "Stack 0",
            backgroundColor:"#eccfb7",
            borderColor:"#ca9d7a",
            hoverBackgroundColor:"#eccfb7",
            borderWidth:1.5,
            data: data[data["categories"][0]].map((k)=> k),
            },
            {
            label: data["categories"][1],
            stack: "Stack 0",
            backgroundColor:"#865858",
            borderColor:"#724c4d",
            hoverBackgroundColor:"#724c4d",
            borderWidth:1.5,
            data: data[data["categories"][1]].map((k) => -k),
            },
        ],
        };

        var config = {
                type: "horizontalBar",
                data: barChartData,
                options: {
                title: {
                    display: false,
                    text: "Bar Chart - Stacked",
                },
                
                responsive: false,
                maintainAspectRatio:false,
                "animation": {
                        "duration": 1,
                        "onComplete": function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle="black"       
                            this.data.datasets.forEach(function(dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function(bar, index) {
                               
                                var data = dataset.data[index];
                                if (data<0){
                                    
                                    ctx.fillText(-data, bar._model.x+17, bar._model.y +8);
                                       
                                }
                                else {
                                    if ( index==9 || index==8)
                                    
                                    { 
                                    
                                          ctx.fillText(data, bar._model.x+20, bar._model.y +8);
                                        }
                                    
                                    else {
                                        
                                        ctx.fillText(data, bar._model.x+20, bar._model.y +8);
                                    }
                                        
                                   
                                    
                                }
                                  
                
                            });
                            });
                        }
                },
                legend: {
                    display:true,
                    position: "top",
                    align:"centre",
                    labels:{
                        textAlign:"centre"
                    }

                },
                scales: {
                    xAxes: [
                    {
                        display:false,
                        gridLines:{
                            display:false
                        },
                        stacked: true,
                        ticks: {
                            
                        beginAtZero: true,
                        callback: (v) => {
                            return v < 0 ? -v : v;
                        },
                        },
                    },
                    ],
                    yAxes: [
                    {
                        gridLines:{
                            display:false
                        },
                        categoryPercentage: 0.8,
                    barPercentage: 1,
                        stacked: true,
                        grid:{enabled:false},
                        ticks: {
                                                    
                        beginAtZero: true,
                        
                        },
                        position: "left",
                    }
                    ],
                },
                tooltips:{
                    mode: 'index',
                    intersect: true,
                    callbacks:{
                    label: function(tooltipItem, data) {
                        return data["datasets"][tooltipItem.datasetIndex]["label"]+" : "+Math.abs(data["datasets"][tooltipItem.datasetIndex]["data"][tooltipItem.index]);
 
  
                  }
                  }
                }
                },
            };
        destroy_chart(chart_id,fullscreen);

        var canvas=document.getElementById(chart_id);
        var ctx = canvas.getContext('2d');    

        window["myMixedChart"+chart_id]  = new Chart(ctx, config);
        if (window["myMixedChart"+chart_id+"width"]=="") {

            window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth)-30;
            window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight);
            
            destroy_chart(chart_id,fullscreen);
            window["myMixedChart"+chart_id] =new Chart(ctx, config);
        }
}
function createBarchartWithoutAxes(data,chart_id,box_id,bar_color,fullscreen){
    
           var config= {
                type: 'bar',
                data: {
                labels: data['labels'],
                datasets: [
                  
                    {
                    
                
                        label: data["categories"][0],
                        backgroundColor: bar_color,
                        data: data['values']
                    }
                    
                    
                ]
                },
            
                options: {
                   events:{
                    hover: {
                     mode: false
                }  
               },
                responsive:false,
                maintainAspectRatio:false,
                "animation": {
                        
                        "onComplete": function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle="black"    
                            
                            this.data.datasets.forEach(function(dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            var base="";
                            var height = chartInstance.controller.boxes[0].bottom;
                            meta.data.forEach(function(bar, index) {
                                
                                 
                                var data = dataset.data[index];
                                //  ctx.translate(bar._model.x+10, bar._model.y );
                                ctx.save()

// Rotate context by -90 degrees
                                if (index==0){
                                    ctx.translate(bar._model.x+5,bar._model.y-10);    
                                }
                                else {
                                    ctx.translate(bar._model.x+5,bar._model.y);
                                }
                                
                                // ctx.translate(bar._model.x+5,bar._model.base -(2*bar._model.y));
                                // ctx.translate(bar._model.x+5,255);
                                
                                // ctx.fillText(dataset.data[index], bar._model.x, height - ((height - bar._model.y) / 2) - 10);
          
                                // ctx.translate(bar._model.x+5,);
                                ctx.rotate(  -Math.PI*0.5);
                                    // ctx.fillText(data, bar._model.x, bar._model.y +30);
                                    ctx.fillText(bar._model.label+"      "+data, 0,0);
                                    
                                    ctx.restore();
                            });
                            });
                        }
                },
                title: {
                            display: true,
                            text: data["title_text"],
                            },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:false
                        },
                        display:false
                        
                    }],
                    yAxes: [{
                        display:false,
                        gridLines: {
                            display:false
                        }   ,
                        ticks:{
                            //  min: parseInt(Math.min.apply(null, data['CY']) - (Math.max.apply(null, data['CY']) - Math.min.apply(null, data["CY"])) / 6),
                            beginAtZero:true,
                            
                        }
                    }]
                },
                legend: { display: false ,
                fontFamily: "Serif"
                },
                tooltips: {
                    enabled: false,
                    mode:'x',
                // callbacks: {
                // title:function(tooltipItem, data){
                  
                
              
                // return tooltipItem[0].yLabel
                // },
                // label: function(tooltipItem, data) {
                  
                // return "Sales: "+tooltipItem.xLabel+"M"
                
                               


                // }
                // }
                }

                
                }
            }
            destroy_chart(chart_id,fullscreen);

            var canvas=document.getElementById(chart_id);
            var ctx = canvas.getContext('2d');    

            window["myMixedChart"+chart_id]  = new Chart(ctx, config);
            if (window["myMixedChart"+chart_id+"width"]=="") {

                window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth)-30;
                window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight);
                destroy_chart(chart_id,fullscreen);
                window["myMixedChart"+chart_id] =new Chart(ctx, config);
            }
}
function createPiechart(data,chart_id,chart_type,title_text,box_id,fullscreen){
                
                
                
                // var ctx = document.getElementById(chart_id).getContext("2d");
                try { 
                    keys = data['categories']
                result = data['value']
                }
                catch(err) {
                    keys=['Active']
                    result=[0]
                }
                var config = {
                        type: chart_type,
                        
                plotOptions: {
                    doughnut: {
                        size: 100
                    }
                },
                        data: {
                            labels: keys
                            ,
                            datasets: [{
                    data: result,
                                backgroundColor: data['color'],
                                hoverBackgroundColor: data['color']
                            }]
                },
    
                    options: {
                       responsive:false,
                       maintainAspectRatio:true, 
                       
                legend :{
                    display:false,
                    position:"bottom"
                },
                
                tooltips: {
                callbacks: {
                title: function(tooltipItem,data){
                    
                return data['labels'][tooltipItem[0]["index"]]
                },
                label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                
    
                var currentValue = dataset.data[tooltipItem.index];
                
                var percentage = Math.floor(((currentValue/total) * 100)+0.5);
    
                return title_text + " : " + percentage + "%";
                }
                }
                }
                }
                }; 
    
                destroy_chart(chart_id,fullscreen);
    
                var canvas=document.getElementById(chart_id);
                var ctx = canvas.getContext('2d');    
    
                window["myMixedChart"+chart_id]  = new Chart(ctx, config);
                if (window["myMixedChart"+chart_id+"width"]=="") {
                    
                    // window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(box_id).offsetWidth-20);
                    // window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight)-50;
                window["myMixedChart"+chart_id+"width"]= parseInt(document.getElementById(chart_id+"_div").offsetWidth);
                window["myMixedChart"+chart_id+"height"]= parseInt(document.getElementById(box_id).offsetHeight);
                    // window["myMixedChart"+chart_id+"width"]= 271
                    // window["myMixedChart"+chart_id+"height"]= 150; 
                    destroy_chart(chart_id,fullscreen);
                    window["myMixedChart"+chart_id] =new Chart(ctx, config);
                }
    
}
var n=0;
window["myMixedChartchart2width"]=""
window["myMixedChartchart3width"]=""
window["myMixedChartchart4width"]=""
window["myMixedChartchart6width"]=""
window["myMixedChartchart7width"]=""
window["myMixedChartchart10width"]=""
window["myMixedChartchart11width"]=""
window["myMixedChartchart8width"]=""
var chart1_data={'categories':['Territory','FTEs',"Avg Salary 000s"],'data':[{'Territory': 'Wales', 'FTEs': 180, 'Avg Salary 000s': 42.6}, {'Territory': 'England', 'FTEs': 160, 'Avg Salary 000s': 42.6}, {'Territory': 'Germany', 'FTEs': 150, 'Avg Salary 000s': 45.0}, {'Territory': 'Scotland', 'FTEs': 130, 'Avg Salary 000s': 40.6}, {'Territory': 'Italy', 'FTEs': 120, 'Avg Salary 000s': 40.6}, {'Territory': 'Ireland', 'FTEs': 120, 'Avg Salary 000s': 37.6}, {'Territory': 'Spain', 'FTEs': 90, 'Avg Salary 000s': 38.6}, {'Territory': 'France', 'FTEs': 70, 'Avg Salary 000s': 42.6}, {'Territory': 'Greece', 'FTEs': 70, 'Avg Salary 000s': 35.6}, {'Territory': 'Portugal', 'FTEs': 40, 'Avg Salary 000s': 32.6}]};
var chart2_data ={'categories':['FTEs','Avg Salary'],'labels': ['Wales', 'England', 'Germany', 'Scotland', 'Italy', 'Ireland', 'Spain', 'France', 'Greece', 'Portugal'], 'FTEs': [180, 160, 150, 130, 120, 120, 90, 70, 70, 40], 'Avg Salary': [42.6, 42.6, 45.0, 40.6, 40.6, 37.6, 38.6, 42.6, 35.6, 32.6]}
var chart3_data ={'categories':['CY','PY'],'labels':['Road','Courier','Air','Mail'],'CY':[42,36,39,54],"PY":[40,31,38,50]}
var chart5_data={'categories':['Top 5','Staff Turnover','Recruitment Exp'],'data':[{'Top 5': 'England', 'Staff Turnover': 16, 'Recruitment Exp': '$ 44'}, {'Top 5': 'Wales', 'Staff Turnover': 12, 'Recruitment Exp': '$ 40'}, {'Top 5': 'Italy', 'Staff Turnover': 9, 'Recruitment Exp': '$ 17'}, {'Top 5': 'Scotland', 'Staff Turnover': 8, 'Recruitment Exp': '$ 18'}, {'Top 5': 'Spain', 'Staff Turnover': 8, 'Recruitment Exp': '$ 11'}]};
var chart6_data ={'title_text':'Top5 Staff Churn','categories':["Staff Turnover"],'labels':['England', 'Wales', 'Italy', 'Scotland', 'Spain'],'values':[16, 12, 9, 8, 8]}
var chart7_data ={'title_text':'Recruitment Expenses 000s','categories':["Recruitment Expense"],'labels':['England', 'Wales', 'Italy', 'Scotland', 'Spain'],'values':[44, 40, 17, 18, 11]}
var chart9_data ={'categories':['Sales','OnLine','Store','Mobile','TV','Mail'],'data':[{'Sales': 'Wales', 'OnLine': '7,664 $', 'Store': '10,576 $', 'Mobile': '3,832 $', 'TV': '1,058 $', 'Mail': '3,832'}, {'Sales': 'England', 'OnLine': '6,812 $', 'Store': '9,401 $', 'Mobile': '3,406 $', 'TV': '940 $', 'Mail': '3,406'}, {'Sales': 'Germany', 'OnLine': '6,748 $', 'Store': '9,312 $', 'Mobile': '3,374 $', 'TV': '931 $', 'Mail': '3,374'}, {'Sales': 'Scotland', 'OnLine': '5,275 $', 'Store': '7,279 $', 'Mobile': '2,637 $', 'TV': '728 $', 'Mail': '2,637'}, {'Sales': 'Italy', 'OnLine': '4,869 $', 'Store': '6,719 $', 'Mobile': '2,435 $', 'TV': '672 $', 'Mail': '2,435'}, {'Sales': 'Ireland', 'OnLine': '4,509 $', 'Store': '6,223 $', 'Mobile': '2,255 $', 'TV': '622 $', 'Mail': '2,255'}, {'Sales': 'Spain', 'OnLine': '3,472 $', 'Store': '4,791 $', 'Mobile': '1,736 $', 'TV': '479 $', 'Mail': '1,736'}, {'Sales': 'France', 'OnLine': '2,980 $', 'Store': '4,113 $', 'Mobile': '1,490 $', 'TV': '411 $', 'Mail': '1,490'}, {'Sales': 'Greece', 'OnLine': '2,489 $', 'Store': '3,435 $', 'Mobile': '1,245 $', 'TV': '344 $', 'Mail': '1,245'}, {'Sales': 'Portugal', 'OnLine': '1,303 $', 'Store': '1,798 $', 'Mobile': '652 $', 'TV': '180 $', 'Mail': '652'}]};
var chart10_data ={'categories':["Total Expenses","Total Sales Revenue"],'labels':['Wales', 'England', 'Germany', 'Scotland', 'Italy', 'Ireland', 'Spain', 'France', 'Greece', 'Portugal'],"Total Sales Revenue":[26962.0, 23965.0, 23739.0, 18556.0, 17130.0, 15864.0, 12214.0, 10484.0, 8758.0, 4585.0],"Total Expenses":[14191.0, 13613.0, 12000.0, 9766.0, 9016.0, 8349.0, 6428.0, 5518.0, 4609.0, 2413.0]}

var chart11_data = {'title_text':'Profit & Loss','categories':["P&L"],"labels":chart10_data["labels"],"values":[]}
chart12_data={'categories':['FB','Yelp','Google+','Twitter'],'value':[20,10,45,25],'color':['#2d82b5','#99bdd3','#e5eef4']}
for(var i=0;i<chart10_data["Total Sales Revenue"].length;i++)
{
    
    val =chart10_data["Total Sales Revenue"][i]-chart10_data["Total Expenses"][i]
    chart11_data["values"].push(val);
}
for(let i=0;i<chart11_data["values"].length;i++)
{
    for(let j=0;j<chart11_data["values"].length;j++){
        if (chart11_data["values"][i]<chart11_data["values"][j]){
            temp=chart11_data["values"][i]
            chart11_data["values"][i]=chart11_data["values"][j]
            chart11_data["values"][j]=temp
            temp=chart11_data["labels"][i]
            chart11_data["labels"][i]=chart11_data["labels"][j]
            chart11_data["labels"][j]=temp
            
        }
    }

}
Chart.defaults.global.defaultFontFamily = 'Serif';

create_table(chart1_data,"chart1");

var style = window.getComputedStyle(document.getElementById("data_table_chart1"), null).getPropertyValue('font-size');
Chart.defaults.global.defaultFontSize = parseInt(style);


LineBarChartInit(chart2_data["categories"],chart2_data['FTEs'],chart2_data['Avg Salary'],'chart2',0,5000,2500,chart2_data["labels"],'#eccfb7','#893c40','chart1',0)
createMultibarchart(chart3_data,'chart3','chart1',0)
create_table(chart5_data,"chart5");
createBarchart(chart6_data,'chart6','chart5',"#865858",0);
createBarchart(chart7_data,'chart7','chart5',"#d8c82b",0);
create_table(chart9_data,"chart9");
createMirrorBarChart(chart10_data,'chart10','chart9',0)
createBarchartWithoutAxes(chart11_data,'chart11','chart9',"#d8c82b",0);

// createPiechart(chart12_data,'chart8','doughnut','Expense','chart5',0);        
// createPiechart(chart12_data,'chart4','doughnut','Expense','chart1',0);        
var cols = document.getElementsByClassName('container1');
    
    cols[0].style["margin-top"] = document.getElementsByClassName("container_logo")[0].offsetHeight+20;    
</script>

</div>frank richard