<mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <div style="display: block">
            <canvas
            baseChart
            [datasets]="doughnutchartData"
            [labels]="doughnutchartlables"
            [chartType]="doughnutchartType"
            ></canvas>
          </div>
    </mat-card-content>

</mat-card>

