<mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <div style="display: block">
            <canvas baseChart [datasets]="polarAreaChartData" [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType" [labels]="polarchartlabels">
            </canvas>
        </div>
    </mat-card-content>

</mat-card>